@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
  height: 100dvh;
  /* dvh is a fairly new css unit(?) */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 384px;
  background-color: #fff;
  padding: 24px;
}

.blog-img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.content {
  margin-top: 24px;
}

#author {
  margin-top: 24px;
}

.content {
  /* line-height: 1.5; */
}

.category,
#publish-date {
  font-size: 14px;
}

.category {
  background-color: #f4d04e;
  /* width: 100px; */
  display: inline-block;
  padding: 4px 12px;
  font-weight: 800;
  border-radius: 4px;
}

#publish-date {
  margin-top: 12px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 12px;
}

.description {
  margin-top: 12px;
  color: ;
}
